body {
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #F2F4F6;
}
.email-wrapper{
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #F2F4F6;
}
.email-masthead{
	padding: 25px 0;
	text-align: center;
}
.email-masthead_name{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #2F3133;
	text-decoration: none;
	text-shadow: 0 1px 0 white;
}
.email-body{
	width: 100%;
	margin: 0;
	padding: 0;
	border-top: 1px solid #EDEFF2;
	border-bottom: 1px solid #EDEFF2;
	background-color: #FFF;
}
.email-body_inner{
	width: auto;
	max-width: 570px;
	margin: 0 auto;
	padding: 0;
}
.email-body_cell{
	font-family: Arial, Helvetica, sans-serif;
	padding: 35px;
}
.email-footer{
	width: auto;
	max-width: 570px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}
.email-footer_cell{
	color: #AEAEAE;
	padding: 35px;
	text-align: center;
}
.body_action{
	width: 100%;
	margin: 30px auto;
	padding: 0;
	text-align: center;
}
.body_sub{
	margin-top: 25px;
	padding-top: 25px;
	border-top: 1px solid #EDEFF2;
}
.anchor{
	color: #3869D4;
}
.header-1{
	margin-top: 0;
	color: #2F3133;
	font-size: 19px;
	font-weight: bold;
	text-align: left;
}
.paragraph{
	margin-top: 0;
	color: #74787E;
	font-size: 16px;
	line-height: 1.5em;
}
.paragraph-sub{
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 0;
	color: #74787E;
	font-size: 12px;
	line-height: 1.5em;
}
.button{
	font-family: Arial, Helvetica, sans-serif;
    display: block;
    display: inline-block;
    width: 200px;
    min-height: 20px;
    padding: 10px;
    background-color: #3869D4;
    border-radius: 3px;
    color: #ffffff; 
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    -webkit-text-size-adjust: none;
}